<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE tangible SYSTEM "tangible.dtd">
<tangible id="0000">
  <name>name</name>
  <sdesc>short description</sdesc>
  <ldesc>
    Some real long description blah
    blah blah
  </ldesc>
</tangible>
